<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortner</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="font-sans">
    <header class="bg-gray-800 text-white p-4 text-center">
        <h1 class="text-2xl font-bold">🔗 URL Shortner</h1>
    </header>

    <main class="container mx-auto px-4 py-8">
        <% if (locals.id) { %>
            <p class="text-green-500 my-2">
                Latest URL generated :
                <a href="http://localhost:1010/url/<%= id%>" class="text-blue-500 underline hover:text-blue-700">
                    http://localhost:1010/url/<%= id%>
                </a>
            </p>
            <% } %>

                <div class="flex flex-col space-y-4">
                    <form method="POST" action="/url" class="flex space-x-4">
                        <input id="redirectURL" type="text" name="url" placeholder="URL"
                            class="w-full rounded-full px-4 py-2 bg-gray-100 border border-transparent focus:outline-none focus:ring-2 focus:ring-blue-500">
                        <button type="submit"
                            class="rounded-full bg-blue-500 text-white px-4 py-2 hover:bg-blue-700">Generate</button>
                    </form>


                    <div class="overflow-x-auto rounded-md shadow">
                        <table class="w-full table-auto min-w-max text-left">
                            <thead>
                                <tr class="bg-gray-800 text-white">
                                    <th class="px-4 py-2">Index</th>

                                    <th class="px-4 py-2">Link</th>
                                    <th class="px-4 py-2">ShortId</th>
                                    <th class="px-4 py-2">Short URL</th>
                                    <th class="px-4 py-2">Clicks</th>

                                </tr>
                            </thead>
                            <tbody>
                                <% urls?.forEach((url, index)=> { %>
                                    <tr class="border-b border-gray-300 hover:bg-gray-100">
                                        <td class="px-4 py-2 truncate">
                                            <%= index+1 %>
                                        </td>
                                        <td class="px-4 py-2 truncate">
                                            <%= url.redirectURL %>
                                        </td>
                                        <td class="px-4 py-2">
                                            <%= url.shortId %>
                                        </td>
                                        <td class="px-4 py-2">
                                            <a href="http://localhost:1010/url/<%= url.shortId%>"
                                                class="text-blue-500 underline hover:text-blue-700" target="_blank">
                                                http://localhost:1010/url/<%= url.shortId%>
                                            </a> %>
                                        </td>
                                        <td class="px-4 py-2">
                                            <%= url.visitHistory.length %>
                                        </td>
                                    </tr>
                                    <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
    </main>
    <footer class="fixed bottom-0 w-full text-center bg-gray-800 text-white py-1">
        <p class="text-sm">
            Created by <a href="https://aanand10.github.io/portfolio/" target="_blank" rel="noopener noreferrer"
                class="text-blue-400 hover:text-blue-600">Anand</a>
        </p>
    </footer>
</body>

</html>